ul {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0;
}
.calendarContainer {
  position: fixed;
  z-index: 1;
  width: 332px;
  top: 215px;
  background-color: white;
  border: 1px solid rgb(219,219,219);
  border-radius: 3px;
  /*left: 50%;*/
  float: left;
  /*transform: translate(-50%);*/
  color: rgb(72,72,72);
  /*box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px .5px ;*/
}

.innerCalContainer {
  width: 93%;
  margin: auto;
}

.calendar {
  width: 100%;
  padding-bottom: 5px;
  margin: auto;
}

.monthLabel {
  font-size: 18px;
  font-weight: bold;
}

.available {
  color: black;
  color: rgb(72,72,72);
}

.available:hover {
  background-color: rgb(219,219,219);
  cursor: pointer;
} 

.booked {
  color: rgb(216,216,216);
  text-decoration: line-through;
}

.weekdays {
  display: inline-block;
  width: 14.28%;
  text-align: center;
  color: rgb(117,117,117);
  font-size: 14px;
  font-weight: 600;
}

.dates {
  display: inline-block;
  list-style-type: none;
  width: 14.2%;
  text-align: center;
/*  margin-bottom: 5px;*/
  /*border: 1px solid;
  border-color: rgb(216,216,216);*/
  padding: 10px 0px 10px 0px;
  margin: 0px;
  white-space: normal;
  font-size: 14px;
  font-weight: 700;
}

.blank {
  /*border-color: rgb(256,256,256) !important;*/
}

.header {
  margin: auto;
  width: 94%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#calendarRightArr {
  background-image: url('https://s3-us-west-1.amazonaws.com/fecimages/racallgray.png');
}

#calendarLeftArr {
  background-image: url('https://s3-us-west-1.amazonaws.com/fecimages/lacallgray.png');
}

.monthArrows {
  border: 1px solid rgb(228,231,231);
  border-radius: 3px;
  padding: 0px, 30px, 0px, 30px;
  height: 33px;
  width: 39px;
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.calendarFooter {
  padding-bottom: 10px;
  /*padding-left: 20px;*/
  width: 94%;
  margin: auto;
  font-size: 12px;
  font-weight: 600;
}

.selectedDate {
  background-color: rgb(0,166,153);
  /*border: 1px solid rgb(0,166,153);*/
  color: white;
}

.betweenDates {
  background-color: rgb(51,218,205) !important;
  color: white !important;
}

.clearDatesButton {
  float: right;
  padding: 0px;
  margin-top: 4px;
  color: #008489;
  font-size: 14px;
  font-weight: 600;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 16px;
}
