.datesHeader {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(219,219,219);
  padding: 0;
  border-radius: 3px;
}

#middleArrow {
  height: 25px;
  width: auto;
}

.datesHeader input {
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 17px;
}

input:focus{
  background-color: rgb(153,237,230);
  border-radius: 3px;
}

.selectCheckout {
  background-color: rgb(153,237,230);
  border-radius: 3px;
}

.dateInput {
  margin: 8px;
  width: 46%;
  padding: 0px 6px;
  color: rgb(117,117,117);
}